@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: hsl(30, 54%, 90%);
}

@font-face {
  font-family: 'Young Serif';
  src: url('/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

.young-serif {
  font-family: 'Young Serif', sans-serif;
}